@font-face {
    font-family: 'Janna LT';
    src: url('common/User/ar/font/common/User/ar/font/JannaLT-Regular.woff') format('woff2'),
        url('common/User/ar/font/JannaLT-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

