﻿@import url('https://fonts.googleapis.com/css?family=Amiri|Reem+Kufi');
@import url('common/User/ar/font/stylesheet.css');


body {
    direction: rtl;
    font-family: 'Janna LT' !important;
    background: #f2eeee;
}
img{
    width:100%;
}
header {
    box-shadow: 0px 0px 1px 0px #efefef;
    background-color: #efefef;
}
.top-head-bg {
    background: #4568DC;  /* fallback for old browsers */
    background: linear-gradient(to right, #2b62bd, #3995e5, #4099e1, #279abd, #2b62bd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

    .top-head-bg .nav > li > a {
        color: #fff;
    }
        .top-head-bg .nav > li > a:hover,
        .top-head-bg .nav > li > a:focus {
            color: #176083;
        }

    .top-head-bg .navbar-toggle {
        background: #fff;
        color: #176083;
        padding: 6px 12px;
        margin-left: 3px !important;
    }

    .top-head-bg .navbar-nav {
        margin: 0px !important;
    }

.main-nav {
    padding: 10px 0px;
}

    .main-nav .logo {
        /*position: absolute;
		top: -19px;
		background-color: #fff;
		z-index: 999;
		padding: 6px;
		border-radius: 4px;
		box-shadow: 0px 0px 1px 1px #e2e2e2;*/
    }

    .main-nav .navbar-toggle {
        background-color: #176083;
        color: #fff;
        padding: 10px 15px;
        margin: 13px -27px 0px 0px;
    }

    .main-nav .navbar-nav{
        margin:0px;
        padding: 0px;
        float: left;
    }

        .main-nav .logo img {
            width: 100px;
        }


    .main-nav .navbar-nav > li > a {
        line-height: 60px;
        font-size: 16px;
        color: #515151;
    }
        .main-nav .navbar-nav > li > a i {
            color: #2c64bf;
            padding: 10px 10px;
            border-radius: 4px;
        }
        .main-nav .navbar-nav > li > a:hover,
        .main-nav .navbar-nav > li > a:focus {
            /*background-color: #fff;*/
            color: #0252ce;
        }

.navbar-nav .open .dropdown-menu > li > a {
    text-align: right;
}
.btn {
    border-radius: 0px !important;
}

.mob-nav {
    display:none;
}
.mob-top-nav {
    display:none;
}
.search-bg .form-control{
    background-color: #fdfdfd;
    border-radius: 30px !important;
}
.search-bg {
    margin-top: -20%;
    position: absolute;
    z-index: 99;
    width: 100%;
}
    .search-bg form {
        padding: 47px 39px 30px;
        background-color: rgba(4, 52, 120, 0.7);
        border-radius: 40px;
    }

        .search-bg form input {
            width: 100%;
            padding: 8px;
            background-color: transparent;
            color: #fff;
            border: 1px solid #fff;
            font-size: 17px;
        }
            .search-bg form input::-webkit-input-placeholder {
                color: #fff;
            }
            .search-bg form input::-moz-placeholder {
                color: #fff;
            }
            .search-bg form input:-ms-input-placeholder{
                color: #fff;
            }
            .search-bg form input:-moz-placeholder {
                color: #fff;
            }
            .search-bg form input:hover,
            .search-bg form input:focus {
                outline:0;
            }
        .search-bg form button {
            width: 100%;
            padding: 8px 15px;
            background-color: #fdfdfd;
            color: #555;
            border: 1px solid #fdfdfd;
            font-size: 17px;
            text-align: right;
            border-radius: 20px;
            height: 37px;
        }

        .search-bg form button .fa{
            float: left;
        }
        .mar-top{
            margin-top:30px;
        }

.department{
    /*margin:50px 0px;*/
}
    .department h1, .department h2 {
        font-size: 18px;
        border-bottom: 1px solid #cbcbcb;
        margin: 0px 0px 20px;
        padding-bottom: 7px;
        font-weight:bold;
        margin-top: 18px;


    }
        .department h1 span, .department h2 span {
            border-bottom: 3px solid #7dc416;
            padding-bottom: 3px;
        }

    .department a .box-cat{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 60px;
        height: 40px;
        line-height: 40px;
        color: #006bb3;
        background: linear-gradient(to right, #f4f5f5, #f4f2f2, #d0cdcd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-radius: 8px;
        font-weight: bold;
    }

    .department img {
        border-radius: 0px;
    /*    width: 150px;*/
    /*    height: 150px;*/
    /*    box-shadow: 0 0 8px 0 rgba(17, 22, 26, 0.16), 0 4px 8px 0 rgba(17, 22, 26, 0.08), 0 8px 16px 0 rgba(17, 22, 26, 0.08);*/
    /*}*/
    }

    .department h4 {
        margin: 0px 0px;
        color: #fff;
        font-size: 16px;
        text-align: center;
        background-color: #006bb3;
        padding: 19px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        min-height: 60px;
    }

    .department a:hover h4, .department a:focus h4{
        color: #fff;
    }

.slide-bg {
}
.slide-bg a{
    color:#515151;
}

footer {
    margin-top: 50px;
    background-color: #006bb3;
    padding: 20px 0px 0px;
}
    #myFooter img{
        width: 100px;
        float: right;
        margin-top: 0px;
        display: block;
        margin-right: 46%;
        margin-bottom: 15px;
    }
    footer p {
        color: #fff !important;
        margin-bottom: 0px;
        padding: 0px !important;
    }

    footer a {
        display: block;
        /*margin-top: 7px;*/
    }
.copy {
    padding: 5px 0px;
    border-top: 1px solid #2d2d2d;
    margin-top: 15px;
    text-align: center;
}

.powered {
    width: auto;
    background-color: #fff;
    padding: 10px;
    margin-top: 9px;
    border-radius: 6px;
}

.professional {
    font-size: 12px;
    text-align: center;
    position: relative;
}

    .professional img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        border: 6px solid #ffffff;
        /*box-shadow: 0px 0px 3px 2px #dad8d8;*/
        margin-bottom: 10px;
        margin-top: 15px;
    	background-color: #fff;

    }


    .professional .pre {
        position: absolute;
        background-color: red;
        color: #fff;
        font-size: 18px;
        padding: 8px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 15px 0px 0px 0px;
    }

    .professional .trust {
        position: absolute;
        background-color: #ffac00;
        color: #fff;
        font-size: 18px;
        padding: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 15px 0px 0px 0px;
    }
.offer-bg {
    background-color: #ff8500;
    color: #fff;
    padding: 8px 10px;
    margin-top: 10px;
    font-size: 16px;
}

.professional-head {
    background-color: #ffffff;
    padding: 10px 10px;
    border: 1px solid #e6e6e6;
    margin-bottom: 20px;
    min-height: 180px;
    margin-top: 32px;
}

    .professional-head span {
        color: #176083;
        font-weight: bold;
        font-size: 14px;
        border-bottom: 1px solid #dad8d8;
        display: block;
        padding-bottom: 8px;
        margin-bottom: 10px;
    }
    .professional-head p {
        border-bottom: 1px solid #dad8d8;
        display: block;
        padding-bottom: 8px;
        margin-bottom: 10px;
    }

    .professional-head i {
        color: #e8c10b;
    }

    .professional-head a {
        color: #7c7c7c;
    }

        .professional-head a:hover {
            color: #0252ce;
            text-decoration: none;
        }

.title{
    font-size: 24px;
    border-bottom: 1px solid #c5c5c5;
    margin: 0px 0px 20px;
    padding-bottom: 50px;
    border-right: 10px solid #a7b5c1;
    padding: 4px;
    padding-bottom: inherit;
}

    .title span, .title span {
        border-bottom: 3px solid #176083;
        padding-bottom: 0px;
    }


.market-pro-list {
    background-color: #fff;
    padding: 15px;
    margin: 10px 0px 20px;
    float: left;
    width: 100%;
    box-shadow: 0px 0px 1px 0px #d2d2d2;
}

    .market-pro-list img {
        height: 230px;
    }

    .market-pro-list h2 {
        font-size: 20px;
        color: #565656;
        padding: 10px 0px 8px;
        border-bottom: 1px solid #dedede;
        margin-bottom: 10px;
        margin-top: 5px;
    }

    .market-pro-list .pro-like a {
        background-color: #176083;
        padding: 10px;
        display: block;
        text-align: center;
        color: #fff;
        border: 1px solid #176083;
    }

        .market-pro-list .pro-like a:hover,
        .market-pro-list .pro-like a:focus {
            background-color: #fff;
            color: #176083;
            border: 1px solid #176083;
        }

    .market-pro-list .pro-like1 a {
        background-color:  #176083;
        padding: 10px;
        text-align: center;
        color: #fff;
        border: 1px solid #176083;
        float: left;
        margin-right: 5px;
    }

        .market-pro-list .pro-like1 a:hover,
        .market-pro-list .pro-like1 a:focus {
            background-color: #fff;
            color: #176083;
            border: 1px solid #176083;
        }
.of {
    display: block;
    margin-bottom: 10px;
    color: #45cc4a;
    font-size: 14px;
}
.re {
    display: block;
    margin-bottom: 10px;
    color: #fe0000;
    font-size: 14px;
}
.search-b {
}
.search-b input{
    border-radius:unset;
}

.reply-bg {
    padding: 15px;
    background-color: #fff;
    margin-top: 0px;
    float: left;
    width: 100%;
    border: 1px solid #e2e2e2;
}


    .reply-bg img {
        width: 56px;
        height: 56px;
    }

    .reply-bg .post-d {
        float: left;
        font-size: 12px;
    }
    .form-control{
        border-radius:0px !important;
    }

.chat-icon {
    background-color: #176083;
    display: block;
    color: #fff;
    text-align: center;
}

    .chat-icon:hover, .chat-icon:focus {
        background-color: #008a32;
        color: #fff;
    }

.profile-bar {
    background-color: #ffffff;
    padding: 20px 20px 20px !important;
    margin: 20px 0px 0px;
    box-shadow: 0px 0px 1px 0px rgba(208, 208, 208, 0.9);
    float: left;
    width: 100%;
    background-image: linear-gradient(#eee, #e6e6e6, #d7d7d7);
}


.name {
    background-color: #176083;
    color: #ffffff;
    padding: 10px;
    margin-top: -10px;
    width: 100%;
    text-align: center;
    border-radius: 60px 60px 0px 0px;
}
.edit {
    position: absolute;
    right: 14px;
    margin-top: -21px;
    background-color: rgba(0, 193, 70, 0.6901960784313725);
    color: #fff;
    padding: 5px 5px 7px 10px;
    border-radius: 0px 0px 0px 50px;
    cursor: text;
}
    .edit:hover, .edit:focus {
        color: #fff;
    }

.prog {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 20px;
}
    .prog .name-text{
        position: absolute;
        width: 100%;
        bottom: -50px;
        background-color: #bababa;
        left: 0;
        padding: 10px 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-top: 2px solid #009de1;
    }
    .prog .name-text a{color: #fff}

    .prog .pro {
        position: absolute;
        color: #f6c016;
        width: 50px;
        height: 50px;
        text-align: center;
        padding: 0px 0px;
        font-size: 50px;
        border-radius: 50%;
        margin: 13px -22px 0px 0;
    }

    .prog img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 10px solid #4f5051;
        margin-right: -20px;
    }


.re-icon {
    border: 1px solid #dcdcdc;
    padding: 10px 5px;
    text-align: center;
    float: left;
    margin: 15px 0px 0px;
    width: 50%;

}
    .re-icon span {
        font-size: 22px;
        display: block;
        border-bottom: 1px solid #eaeaea;
        padding-bottom:3px;
        margin-bottom:5px;
    }
        .re-icon span i {
            font-size: 18px;
            color: #ff8500;
        }
    .re-icon small {
        color: #777777;
    }

.pro-list {
    list-style: none;
    padding: 0px;
    margin:0px;
}

    .pro-list i {
        border: 1px solid #dad8d8;
        padding: 10px;
        width: 35px;
        height: 35px;
        text-align: center;
        margin-bottom: 5px;
        margin-right: 2px;
        color: #176083;
    }

    .pro-list li a {

        color: #515151;
    }


.green{
    color:#008a32 !important;
}

.gray {
    color: #c5c5c5 !important;
}

.map-back {
    padding: 20px;
    border: 1px solid #e6e6e6;
}

.map-back iframe{
    width:100%;
    height:500px;
}
.search-form {
    padding: 20px;
    border: 1px solid #e6e6e6;
    margin-bottom:20px;
}
    .search-form button {
        background-color: #176083;
        color: #fff;
        border-radius: 12px;
        padding: 5px;
        font-size: 18px;
        width: 100%;

    }
        .search-form button:hover, .search-form button:focus {
            background-color: #176083;
        }
.back {
    padding: 20px;
    border: 1px solid #e6e6e6;
    margin: 20px 0px;
}

    .back p {
        color: #6d6d6d;
    }

    .back h2 span > i{
        color: #77b550 !important;

        font-size: 35px !important;
        margin-left: 10px;
    }


    .back h1 span, .back h2 span {
        border-bottom: 3px solid #176083;
        padding-bottom: 8px;
    }
.media-left, .media > .pull-left {
    padding-left: 10px;
}
    .back a {
        min-height: 45px;
        line-height: 20px;
    }

    .back a h5{
        line-height:20px;
        min-height:45px;
    }

    .back img {
        border-radius: 6px;
    }

    .back a:hover h4, .back a:focus h4 {
        color: #176083;
    }

.background {
    padding: 20px;
    border: 1px solid #e6e6e6;
    margin: 20px 0px;
}
    .background img {
        margin-top: 20px;
        border-radius: 6px;
        height: 200px;
    }
    .background h4 {
        color: #5d5d5d;
        font-size: 17px;
        line-height: 20px;
        min-height: 45px;
    }
    .background h4:hover {
        color: #176083;
    }

    .background iframe {
        width:100% !important;
        height:200px !important;
        margin-top:20px;
    }

.back iframe {
    width:100%;
    height:250px;
}

.review-bg {

}


    .review-bg img {
        width: 60px;
        height: 60px;
    }

    .review-bg .post-d {
        float: left;
        font-size: 12px;
    }
    .review-bg .media {
        border-bottom: 1px solid #e4e4e4;
        padding-bottom: 15px;
    }
    .review-bg .media:last-child {
        border-bottom: unset;
    }
        .review-bg .media .media-heading {
            color: #636363;
            font-size: 16px;
        }

        .review-bg .rating{
            color:#ff8500;
        }

.review-pro {
    position: absolute;
    color: #FF5722;
    background-color: rgba(0, 0, 0, 0.6901960784313725);
    padding: 7px 15px;
    border-radius: 0px 6px 6px 0px;
    margin-top: -60px;
}

.check-box {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #dcdcdc;
    padding: 8px 30px 6px 10px;
    float: right;
    margin-left: 10px;
}

    .check-box input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

.checkmark {
    position: absolute;
    top: 6px;
    right: 6px;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

.check-box:hover input ~ .checkmark {
    background-color: #ccc;
}

.check-box input:checked ~ .checkmark {
    background-color: #176083;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check-box input:checked ~ .checkmark:after {
    display: block;
}

.check-box .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.check-box{
    width:100%;
}



.green-bg {
    background-color: #f2eeee;
    padding: 35px 0px;
}
.orange-bg {
    background-color: #279abd;
    padding: 35px 0px;
}
.red-bg {
    background-color: #30b2d2;
    padding: 35px 0px;
}

.counter-bg {
    border-top: 1px solid #dfdfdf;
    padding: 25px 0px;
    background-color: #f4f4f4;
    margin-top: 80px;
    margin-bottom: -50px;
}

.counter {
    display: flex;
}

    .counter .make {
        font-size: 18px;
        text-align: center;
        color: #949494;
        width: 25%;
        border-right: 1px solid #dfdfdf;
        padding: 15px 0px;
    }

        .counter .make:first-child {
            border-right-color: transparent;
        }

        .counter .make span {
            font-size: 38px;
            color: #767676;
            font-family:Roboto;
        }












@media(min-width:768px) and (max-width:991px) {
    footer img {
        height: 55px;
        margin-top: 10px;
    }

}


@media (max-width:767px){
    .nav > li > a {
    padding-right: 0px;
}
    .carousel-inner>.item>img, .carousel-inner>.item>a>img{
        height: 400px !important;
    }
    footer img {
        margin-top: 10px;
    }

    #myFooter img{
        margin-right: 40%; !important;
    }
    .search-bg {
        background-color: rgba(0,0,0,0.15);
        margin-top: -82%;
        position: absolute;
        z-index: 99;
        width: 100%;
    }
    .carousel .item {
        height: 400px !important;
        background-color: #bbb;
        overflow: hidden;
    }  .carousel img{
        height: 400px;

    }.carousel-caption{
    display: none;
                }
    .search-bg form{
        background-color: unset;
    }

    .mob-top-nav {
        color: #fff;
        line-height: 45px;
        padding-right: 12px;
        display:inline;
    }

    .mob-nav {
        font-size: 16px;
        line-height: 65px;
        display:inline;
    }
        .mob-nav i {
            background-color: #176083;
            color: #fff;
            padding: 10px 10px;
            border-radius: 4px;
        }

    .navbar-toggle {
        float: left !important;
    }
    .counter {
        display: block;
    }

        .counter .make {
            width: 50%;
            float: left;
            padding: 40px 0px
        }

            .counter .make:nth-child(2) {
                border-right-color: transparent;
                border-bottom: 1px solid #dfdfdf;
            }

            .counter .make:first-child {
                border-bottom: 1px solid #dfdfdf;
                border-right: 1px solid #dfdfdf;
            }

            .counter .make:last-child {
                border-right-color: transparent;
            }


}


.profile-bar form .form-control,
.stepper  input{
    -webkit-box-shadow: inset 3px 0px 10px 0px rgba(0,0,0,.25);
    box-shadow: inset 2px 0px 10px 0px rgba(0,0,0,.25);
}
.profile-bar form .form-group input{
    border-radius: 16px !important;
}
.profile-bar form .form-group textarea{
    border-radius: 13px !important;
}

/*Powered by amssoftech*/


































































































































































































