@font-face {
    font-family: 'Janna LT';
    src: url('../../../../../site/a-jannat-lt-bold.ttf') format('ttf');
    src: url('../../../../../site/a-jannat-lt-bold.woff') format('ttf');
    font-weight: normal;
    font-style: normal;
}

