﻿@import url('../website/common/User/ar/font/stylesheet.css');
body {
    background-color: #f7f7f7 !important;
    direction: rtl;
    /*font-family: 'Amiri', serif;*/
    font-family: 'Janna LT' !important;
}

.body {
    background-color: #fff !important;
    direction:rtl;
}

.nonact {
    color: #b3b3b3;
}

h1, h2, h3, h4 {
    margin: 0px;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
   text-align: right;
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
    background: #888;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #0c97be;
    }

img {
    width: 100%;
}


    .logo img {
        width: auto;
    }

    .navbar{
        border:none !important;
    }
.navbar-nav > li > a {
    padding-top: 30px !important;
}
.nav > li > a:focus, .nav > li > a:hover{
min-height: 85px
}

.offer {
    background-color: #007791;
    color: #fff;
    text-align: center;
    padding: 15px 0px;
    font-size: 15px;
}

    .offer span {
        font-size: 18px;
    }

    .offer a {
        color: #fff;
        float: right;
        margin-right: 30px;
        margin-top: -5px;
        font-size: 24px;
    }



.btn-hire {
}

    .btn-hire a {
        background-color: #98c64c;
        color: #fff !important;
        padding: 8px;
        display: block;
        text-align: center;
        margin-top:8px;
    }

    .btn-hire a:last-child {
        background: linear-gradient(to right, #176083, #4568DC);    }

header {
}

.p-bg {
    font-size: 12px;
    background-color: #fff;
    padding: 40px !important;
    text-align: justify;
    margin-bottom: 50px;
}

.header-back {
    background: url(../im/bg.jpg) rgba(0, 0, 0, 0.87);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20px 0px 80px;
    background-position: bottom;
}

header img {
    width: auto;
}

.header-img {
    text-align: center;
    padding-top: 10px;
}

    .header-img img {
        width: auto;
    }

.reg-header-img {
    text-align: center;
    padding: 30px;
    background-color: #fff;
    box-shadow: 1px 1px 6px 0px rgba(222, 221, 221, 0.9);
    margin-bottom: 25px;
}

    .reg-header-img img {
        position: absolute;
        background-color: #fff;
        box-shadow: 0px 0px 1px 1px #dddddd;
        width: 100px;
        height: 100px;
        padding: 5px;
        border-radius: 0px 32px 0px 32px;
        margin: -25px 0px 0px -55px;
    }

header .input-group {
    width: 100%;
}

header .search-back {
    background-color: rgba(0, 0, 0, 0.66);
    padding: 20px 20px 10px;
    border-radius: 6px;
    margin-bottom: 15px;
}

    header .search-back select {
        height: 45px;
        margin-bottom: 10px;
        background-color: rgba(255, 255, 255, 0.32);
        color: #fff;
        border: 1px solid rgba(255, 255, 255, 0);
        transition: all .3s;
        cursor: pointer;
    }

        header .search-back select option {
            color: #000;
        }

        header .search-back select:hover, header .search-back select:focus {
            background-color: transparent;
            border: 1px solid #ccc;
        }

    header .search-back button {
        height: 45px;
        margin-bottom: 10px;
        width: 100%;
        font-size: 16px;
        color: #fff;
        background-color: rgba(255, 255, 255, 0.32);
        border: 1px solid rgba(255, 255, 255, 0);
        transition: all .3s;
    }

        header .search-back button:hover, header .search-back button:focus {
            background-color: transparent;
            border: 1px solid #ccc;
        }

.member {
    float: right;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.69);
    border: 1px solid #d80258;
}

    .member li {
        float: left;
    }

        .member li a {
            padding: 5px 15px;
            color: #000000;
            float: left;
            text-transform: uppercase;
        }

            .member li a:hover {
                text-decoration: none;
            }

            .member li a:focus {
                text-decoration: none;
            }

.act {
    background-color: #d80258;
    border-radius: 0px 4px 4px 0px;
}

    .act a {
        color: #ffffff !important;
    }

.search {
    margin: 15px 0px 30px;
}

.sign1 {
    padding: 25px 25px 15px;
    box-shadow: 0px 0px 1px 1px #e6e6e6;
}

.sign {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0px 0px 1px 1px #e6e6e6;
}

    .sign img {
        width: auto;
    }

    .sign h2 {
        font-size: 18px;
        font-weight: bold;
        color: #cc0757;
    }

    .sign p {
        margin-bottom: 30px;
    }

    .sign a {
        color: #1c383b;
    }

        .sign a:hover, .sign a:focus {
            color: #1c383b;
            text-decoration: none;
        }

    .sign .btn-sign {
        background-color: #cc0757;
        color: #fff;
        border: 1px solid #cc0757;
        padding: 10px 30px;
        transition: all .5s;
    }

        .sign .btn-sign:hover, .sign .btn-sign:focus {
            background-color: #fff;
            color: #cc0757;
            border: 1px solid #cc0757;
            text-decoration: none;
        }

.signin {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

    .signin a {
        color: #cc0757;
        font-weight: bold;
    }

        .signin a:hover, .signin a:focus {
            color: #ed0563;
            text-decoration: none;
        }

.chat-icon {
    background: linear-gradient(to right, #176083, #4568DC);    display: block;
    color: #fff;
    text-align: center;
}

    .chat-icon:hover, .chat-icon:focus {
        background-color: #98c64c;
        color:#fff;
    }
.int-search {
    margin: 15px 0px 20px;
}

.location-btn {
    padding: 8px 20px !important;
    background-color: #98c64c;
    height: 45px;
    color: #ffffff;
    font-size: 16px !important;
    border-radius: 0px !important;
}

    .location-btn:hover {
        color: #ffffff !important;
    }

    .location-btn:focus {
        color: #ffffff !important;
    }

    .location-btn:active {
        color: #ffffff !important;
    }

.dropdown-menu {
    border-radius: 0px !important;
    margin: 0px !important;
    border: 1px solid #efefef;
}

.search-text {
    width: 100% !important;
}

.search-bg {
    padding: 0px 20px 20px !important;
}

    .search-bg a {
        float: left;
        width: 100%;
        padding: 3px;
        color: #7c7c7c;
    }

        .search-bg a:hover {
            color: #7c7c7c;
        }

    .search-bg h2 {
        margin: 0px 0px 5px;
        font-size: 20px;
        border-bottom: 1px solid #e6e6e6;
        color: #7c7c7c;
        padding: 5px 10px;
    }



.text input {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    height: 45px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.32);
    border: 1px solid rgba(255, 255, 255, 0);
    transition: all .3s;
}

    .text input::-webkit-input-placeholder {
        color: #fff;
    }

    .text input::-moz-placeholder {
        color: #fff;
    }

    .text input:-ms-input-placeholder {
        color: #fff;
    }

    .text input:-moz-placeholder {
        color: #fff;
    }

    .text input:hover, .text input:focus {
        background-color: transparent;
        border: 1px solid #ccc;
    }

.slogan {
    margin: 40px 0px 60px;
    background: rgba(0, 0, 0, 0.59);
    padding: 20px;
    border-radius: 6px;
}

    .slogan p {
        font-size: 28px;
        color: #ffffff;
        margin: 0px;
        font-style: italic;
    }

.right {
    text-align: right;
}

.hire-btn a {
    color: #ffffff;
    font-size: 22px;
    background-color: rgba(200, 52, 91, 0.8);
    padding: 8px 0px;
    border-radius: 4px;
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 20px;
}

    .hire-btn a:hover, .hire-btn a:focus {
        text-decoration: none;
        color: white;
        background-color: #c8345b;
    }

.work {
    background-color: rgba(29, 201, 196, 0.73) !important;
}

    .work:hover, .work:focus {
        background-color: #1dc9c4 !important;
    }

.back {
    background-color: rgba(0, 0, 0, 0.62);
    margin-top: -52px;
}

.acc-back {
    background-color: #ffffff;
    box-shadow: 0px 1px 2px 0px #c7c7c7;
}

.navbar-brand {
    color: #cc0757;
    font-weight: bold;
}

    .navbar-brand:hover, .navbar-brand:focus {
        color: #cc0757;
    }

.navbar-nav > li {
    border-left: 1px solid #efefef;
}

    .navbar-nav > li a {
        color: #176083;

    }

.navbar {
    margin: 0px !important;
}

.navbar-nav a {
    color: #bdbebe;
}

.join {
    color: #bdbebe;
    padding: 15px;
}

.join-act {
    background-color: rgba(14, 164, 204, 0.52);
}

.navbar-toggle {
    background-color: #ffffff !important;
    color: #0d9bae;
    border-radius: 0px !important;
    margin: 0px !important;
    border: 1px solid #f5f5f5 !important;
}

.heading {
    border-bottom: 1px solid #aaaaaa;
    padding-bottom: 15px;
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-size: 28px;
    margin-top: 35px;
    margin-bottom: 40px;
}

    .heading span {
        background-image: url(/public/website/img/heading1.png);
        background-repeat: no-repeat;
        background-position: bottom;
        padding-bottom: 30px;
    }

.heading1 {
    border-bottom: 1px solid #aaaaaa;
    padding-bottom: 15px;
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-size: 28px;
    margin-top: 35px;
    margin-bottom: 40px;
}

    .heading1 span {
        background-image: url(/public/website/img/heading.png);
        background-repeat: no-repeat;
        background-position: bottom;
        padding-bottom: 30px;
    }

.btns1 {
    margin-top: -54px;
    float: right;
    width: 20%;
}

    .btns1 a {
        float: right !important;
        margin-right: 5px;
        border-radius: 50px !important;
        padding: 5px 8px !important;
        background-color: #AAAAAA;
        color: #ffffff !important;
    }

.course-head {
    text-align: center;
    background-color: #ffffff;
    padding: 10px 0px;
    border-bottom: 3px solid #e6e6e6;
    margin-bottom: 20px;
}

    .course-head span {
        color: #98c64c;
        font-weight: bold;
    }

    .course-head a {
        color: #7c7c7c;
    }

        .course-head a:hover {
            color: #98c64c;
            text-decoration: none;
        }

.testimonial {
    background-image: url(/public/website/img/testimonial-banner.jpg);
    background-position: center;
    margin: 30px 0px;
    height: 623px;
}

.testi-heading {
    padding-bottom: 15px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 42px;
    margin: 40px 0px;
}

    .testi-heading span {
        background-image: url(/public/website/img/locate-teacher-heading1.png);
        background-repeat: no-repeat;
        background-position: bottom;
        padding-bottom: 33px;
    }

.testi-back {
    background-color: #ffffff;
    padding: 40px 40px 25px;
    margin: 70px 0px 0px;
}

    .testi-back p {
        font-size: 18px;
        line-height: 35px;
        font-style: italic;
    }

        .testi-back p i {
            padding-right: 5px;
        }

    .testi-back img {
        width: auto;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-top: -100px;
        border: 3px solid #ffffff;
    }

    .testi-back h3 {
        color: #03a13c;
        font-style: italic;
        margin: 0px;
    }

    .testi-back span {
        font-size: 16px;
    }

.testi-btns {
    float: right;
    width: 100%;
}

    .testi-btns a {
        margin-top: -140px;
        border-radius: 50px !important;
        padding: 12px 15px !important;
        background-color: #ffffff;
        color: #7c7c7c !important;
        z-index: 9999999 !important;
    }

.btn-left {
    float: left !important;
    margin-left: -25px;
}

.btn-right {
    float: right !important;
    margin-right: -25px;
}

.bg {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 50px;
}

.profile-bar form .bg {
    background-color: #fff;
    padding: 0px;
    margin-bottom: 0px;
}

.er {
    color: red;
    float: left;
    width: 100%;
    margin: 0px;
}

.reply-bg {
    padding: 15px;
    background-color: #fff;
    margin-top: 0px;
    float: left;
    width: 100%;
}


    .reply-bg img {
        width: 56px;
        height: 56px;
    }

    .reply-bg .post-d{
        float:left;
        font-size:12px;
    }
    .form-control{
        border-radius:0px !important;
    }
.btn {
    border-radius: 0px !important;
}

.bg input, .bg select, .bg textarea {
    font-size: 13px;
}

.signup {
    background-color: #cc0757;
    padding: 10px 30px;
    border: none;
    color: #fff;
}

    .signup:hover, .signup:focus {
        background-color: #e50862;
    }

.box {
    box-shadow: 0px 0px 1px 0px #ababab;
    padding: 20px;
    text-align: center;
    margin: 20px 0px;
    font-size: 18px;
    color: #7c7c7c;
}

    .box span {
        font-size: 32px;
        color: #b93f70;
        font-weight: bold;
    }

    .box img {
        width: auto;
    }

    .box button, .box .bank {
        width: 100%;
        border: none;
        margin: 10px 0px;
        padding: 12px 15px;
        text-align: left;
        font-size: 16px;
        background-color: #f2f5f5;
        color: #3e2c36;
        font-weight: bold;
    }

        .box button:hover {
            background-color: #00bbd4;
            color: #fff;
        }

        .box .bank:hover, .box .bank:focus {
            background-color: #78345d;
            color: #fff;
        }

.btn-a {
    background-color: #0051cf;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 5px;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

    .btn-a:hover, .btn-a:focus {
        background-color: #0056dc;
        text-decoration: none;
        color: #ffffff;
    }

.btn-a1 {
    border: 1px solid #00bbd4;
    color: #0d9bae;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 5px;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

    .btn-a1:hover, .btn-a1:focus {
        background-color: #00bbd4;
        text-decoration: none;
        color: #ffffff;
    }


.btn-a3 {
    border: 1px solid #00bbd4;
    color: #0d9bae;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 20px 12px;
    text-align: center;
}

    .btn-a3:hover, .btn-a3:focus {
        background-color: #00bbd4;
        text-decoration: none;
        color: #ffffff;
    }


.pdf {
    border: 1px solid #0d9bae;
    background-color: transparent;
    font-size: 12px;
}

.btn-a2 {
    border: 1px solid #00bbd4;
    color: #0d9bae;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 5px;
    float: left;
    width: 100%;
    text-align: center;
    margin: 20px 0px;
}

    .btn-a2:hover, .btn-a2:focus {
        background-color: #00bbd4;
        text-decoration: none;
        color: #ffffff;
    }


.rupee {
    width: 100%;
    border: none;
    background-color: #f2f5f5;
    font-size: 32px;
    padding: 5px 0px 5px;
    color: #464646;
}

    .rupee:hover {
        background-color: rgba(4, 94, 91, 0.29);
    }

    .rupee:focus {
        background-color: #00bbd4;
        color: #fff;
    }

.mobilebtn {
    background-color: #fff;
    border: none;
    color: #0d9bae;
    padding: 6px 12px;
    font-size: 16px;
    display: none;
    float: left;
    margin-right: -1px;
    margin-left: -15px;
    line-height: 16px;
    cursor: pointer;
    text-align: center;
    width: 20%;
}

    .mobilebtn small {
        font-size: 10px;
    }

    .mobilebtn:hover, .mobilebtn:focus {
        color: #0d9bae;
    }

.back .navbar-nav > li a {
    color: #f7f7f7;
}


    .back .navbar-nav > li a:hover, .back .navbar-nav > li a:focus {
        color: #fff;
        background-color: rgba(16, 16, 16, 0.45);
    }

.back .navbar-nav > li {
    border-left: 1px solid rgba(16, 16, 16, 0.45);
}

.prog {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin:0 auto 20px;
}

    .prog .pro {
        position: absolute;
        background: linear-gradient(to right, #176083, #4568DC);        color: #fff;
        width: 60px;
        height: 60px;
        text-align: center;
        padding: 16px 0px;
        font-size: 18px;
        border-radius: 50%;
        margin: -10px 0px 0px -30px;
    }

    .prog img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 5px solid #e6e6e6;

    }

.back .dropdown-menu > li > a {
    color: #1c383b;
}

    .back .dropdown-menu > li > a:hover {
        background: #e6e6e6 !important;
    }

.drop-wi {
    min-width: 450px !important;
}

    .drop-wi .all {
        text-align: center;
        background-color: #f6f6f6;
    }

.act-btn {
    background-color: #149a1b;
    color: #fff !important;
    font-weight: bold !important;
}

    .act-btn:hover, .act-btn:focus {
        background-color: #37a03c !important;
    }

.act-btn1 {
    background-color: #0d9bae;
    color: #fff !important;
}

    .act-btn1:hover, .act-btn1:focus {
        background-color: #00bbd4 !important;
    }

.professional {
    font-size: 12px;
    text-align: center;
}

    .professional img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        border: 6px solid #ffffff;
        /*box-shadow: 0px 0px 3px 2px #dad8d8;*/
        margin-bottom: 10px;
        margin-top: 15px;
    	background-color: #fff;
    }


    .professional .pre {
        position: absolute;
        background-color: #ff2700;
        color: #fff;
        font-size: 14px;
        padding: 10px 0px 0px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 15px 0px 0px 0px;
    }

    .professional .trust {
        position: absolute;
        background-color: #ffac00;
        color: #fff;
        font-size: 18px;
        padding: 8px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 15px 0px 0px 0px;
    }

.professional-head {
    background-color: #ffffff;
    padding: 10px 10px;
    border: 1px solid #e6e6e6;
    margin-bottom: 20px;
    min-height: 150px;
    border-radius: 8px;
}

    .professional-head span {
        color: #176083;
        font-weight: bold;
        font-size: 14px;
        border-bottom: 1px solid #dad8d8;
        display: block;
        padding-bottom: 8px;
        margin-bottom: 10px;
    }

    .professional-head p {
        border-bottom: 1px solid #dad8d8;
        display: block;
        padding-bottom: 8px;
        margin-bottom: 10px;
    }

    .professional-head i {
        color: #e8c10b;
    }

    .professional-head a {
        color: #7c7c7c;
    }

        .professional-head a:hover {
            color: #0252ce;
            text-decoration: none;
        }



.green-bg {
    background-color: #1e7498;
    padding: 35px 0px;
    margin-top:15px;
}

.orange-bg {
    background-color: #279abd;
    padding: 35px 0px;
}

.red-bg {
    background-color: #176083;
    padding: 35px 0px;
}


.border {
    height: 1px;
    float: left;
    background-color: #e0e0e0;
    width: 100%;
    margin: 10px 0px;
}

.about {
    background-image: url(/public/website/img/how-work-bg.jpg);
    background-position: center;
    background-size: 100%;
    /*margin: 30px 0px 0px;*/
    padding: 100px 0px 0px;
    text-align: center;
}

.tea {
    background-color: #fbfbfb;
    padding: 30px 0px 60px;
    margin: 50px 0px 0px;
}


.about-bg {
    background-color: rgba(0, 0, 0, 0.37);
    padding: 0px 60px 40px;
    min-height: 430px;
    text-align: center;
}

    .about-bg img {
        width: auto;
        margin-top: -50px;
    }

    .about-bg h2 {
        font-size: 24px;
        color: #ffffff;
    }

    .about-bg .work-bg {
        box-shadow: 0px 0px 1px 1px #d6d5d5;
        padding: 15px;
        float: left;
        width: 100%;
        margin-top: 45px;
        background-color: rgba(4, 4, 4, 0.23);
        color: #fff;
    }

        .about-bg .work-bg span {
            background: #10bed6;
            color: #fff;
            font-size: 32px;
            width: 60px;
            height: 60px;
            padding: 7px 0px;
            border-radius: 50%;
            text-align: center;
            position: absolute;
            top: 15px;
            margin-left: -29px;
        }

        .about-bg .work-bg p {
            padding-top: 25px;
            font-size: 16px;
            text-align: center;
        }

.test-bg {
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

.work-bg {
    box-shadow: 0px 0px 1px 1px #ececec;
    padding: 15px;
    float: left;
    width: 100%;
    margin-top: 45px;
    text-align: center;
    background-color: #fff;
}

    .work-bg span {
        background: #10bed6;
        color: #fff;
        font-size: 32px;
        width: 60px;
        height: 60px;
        padding: 7px 0px;
        border-radius: 50%;
        text-align: center;
        position: absolute;
        top: 15px;
        margin-left: -29px;
    }

    .work-bg p {
        padding-top: 25px;
        font-size: 16px;
        text-align: left;
    }

    .work-bg i {
        float: right;
    }

.about-bg .Tutors-bg {
    box-shadow: 0px 0px 1px 1px #e1e0e0;
    padding: 15px;
    float: left;
    width: 100%;
    margin-top: 45px;
    background-color: rgba(4, 4, 4, 0.23);
    color: #fff;
}

    .about-bg .Tutors-bg span {
        background: #ce2c63;
        color: #fff;
        font-size: 32px;
        width: 60px;
        height: 60px;
        padding: 7px 0px;
        border-radius: 50%;
        text-align: center;
        position: absolute;
        top: 15px;
        margin-left: -29px;
    }

    .about-bg .Tutors-bg p {
        padding-top: 25px;
        font-size: 16px;
    }

.read {
    margin: -10px 0px 70px;
}

.about a {
    background-color: rgba(0, 138, 50, 0.75);
    padding: 10px 15px;
    color: #ffffff;
    border-radius: 4px;
}

    .about a:hover, .about a:focus {
        background-color: #98c64c;
        color: #ffffff;
        text-decoration: none;
    }

.mobileothershow {
    display: none;
    float: left;
    width: 100%;
}

.width {
    width: 100%;
    float: left;
}

.social {
    padding: 20px 0px;
    font-size: 18px;
    font-weight: bold;
    background-color: #ffffff;
}

    .social a {
        color: #5d6d70;
    }

    .social i {
        background-color: #0d9bae;
        color: #ffffff;
        width: 60px;
        height: 60px;
        font-size: 26px;
        border-radius: 50%;
        padding: 20px 20px;
        margin-right: 10px;
    }

    .social a:hover {
        color: #98c64c;
        text-decoration: none;
    }

footer {
    background-color: #ffffff;
    padding-top: 40px;
    border-top: 1px solid #e0e0e0;
}

    footer img {
        width: auto;
    }

    footer p {
        color: #5b5b5b;
        font-size: 13px;
        text-align: justify;
        padding: 10px 0px 0px;
    }

    footer h1, footer h2, footer h3 {
        color: #0d9bae;
        font-size: 20px;
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 10px;
    }

    footer form p {
        color: #c1bfbf;
        font-size: 14px;
        text-align: center;
    }

    footer input {
        width: 100%;
        padding: 7px;
        background-color: #e0e0e0;
        color: #4f4f4f;
        border: 1px solid #e0e0e0;
        margin-bottom: 12px;
    }

    footer button {
        width: 100%;
        background-color: #0d9bae;
        border: none;
        padding: 7px;
        border-radius: 3px;
        color: #ffffff;
        font-size: 18px;
    }

        footer button:hover, footer button:focus {
            background-color: #06adc3;
        }

    footer ul li {
        padding: 3px 0px;
        color: #c1bfbf;
    }

        footer ul li h1 {
            font-size: 20px;
            margin: 0px;
            color: #c1bfbf;
        }

    footer form {
        border: 1px solid #e0e0e0;
        padding: 20px;
        margin-top: 20px;
    }

.cont-info {
    color: #c1bfbf;
    font-size: 14px;
    margin-top: 10px;
}

.cont-info1 {
    color: #c1bfbf;
    font-size: 14px;
}

    .cont-info1 a {
        color: #757575;
    }

        .cont-info1 a:hover, .cont-info1 a:focus {
            color: #0d9bae;
            text-decoration: none;
        }

.copy {
    background-color: #e0e0e0;
    color: #0c3338;
    font-size: 12px;
    padding: 20px 0px 15px;
    margin-top: 40px;
}

.power {
    text-align: right;
}


/*Radio Btn Start*/

.col1 {
    display: block;
    float: left;
    margin: 15px 0px;
    width: 100%;
    max-width: 100%;
}


/* CLEARFIX */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* FORM */

.form .plan input, .form .payment-plan input, .form .payment-type input {
    display: none;
}

    .form .plan input[type="text"], .form .payment-plan input[type="text"], .form .payment-type input[type="text"] {
        display: block;
        width: 100%;
        color: dimgrey;
        height: 40px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid gainsboro;
    }

.form label {
    position: relative;
    color: #545454;
    background-color: #f2f5f5;
    font-size: 22px;
    text-align: center;
    height: 80px;
    line-height: 80px;
    display: block;
    cursor: pointer;
    border: 3px solid transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form .plan input:checked + label, .form .payment-plan input:checked + label, .form .payment-type input:checked + label {
    background-color: #25c1d8;
    color: #fff;
}

    .form .plan input:checked + label:after, form .payment-plan input:checked + label:after, .form .payment-type input:checked + label:after {
        content: "\2713";
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 100%;
        background-color: #78345d;
        z-index: 999;
        position: absolute;
        top: -10px;
        right: -10px;
    }


/*Radio Btn End*/




.modal-content {
    /*background-image: url(img/soon.jpg);
    background-size: 100%;*/
    border-radius: 0px !important;
    padding: 15px !important;
}

.profile-bar {
    background-color: #fbfbfb;
    padding: 30px 25px 25px !important;
    margin: 30px 0px;
    box-shadow: 1px 1px 6px 0px rgba(208, 208, 208, 0.9);
    float: left;
    width: 100%;
}

.red {
    color: #db0000;
}

.green {
    color: #98c64c;
}

.blue {
    color: #0051cf;
}

.edit {
    position: absolute;
    right: 15px;
    margin-top: -30px;
    background-color: #bcc732;
    color: #fff;
    padding: 5px 5px 7px 10px;
    border-radius: 0px 0px 0px 50px;
}

    .edit:hover, .edit:focus {
        background-color: #bcc732;
        color: #fff;
    }

.r-mar {
    margin-bottom: 15px !important;
    min-height: auto;
}

.sside li a {
    margin: 3px 0px;
}

.notfound {
    padding: 30px;
    text-align: center;
    margin: 90px 0px 20px;
    background-color: #fff;
    color: red;
    font-size: 20px;
}

.profile-bar1 {
    background-color: #ffffff;
    padding: 20px 20px 1px !important;
    margin: 0px 0px 15px;
    box-shadow: 1px 1px 6px 0px rgba(208, 208, 208, 0.9);
    float: left;
    width: 100%;
}
.profile-bar1 h1, .profile-bar1 h2 {
    color: #676767;
    margin: 0px;
    font-size: 19px;
    border-bottom: 1px solid rgba(224, 224, 224, 0.82);
    margin-bottom: 15px;
    padding-bottom: 3px;
}

    .profile-bar1 table {
        font-size: 14px;
    }

.profile-bar2 {
    background-color: #ffffff;
    padding: 10px 20px 1px !important;
    margin: 30px 0px;
    box-shadow: 1px 1px 6px 0px rgba(208, 208, 208, 0.9);
    float: left;
    width: 100%;
}


.navbar{
    min-height: 85px !important;
}

.navbar-nav > li > a{
padding-top: 30px !important}


.profile-bar ul {
    /*padding: 10px 0px 0px;*/
    width: 100%;
}

    .profile-bar ul li a {
        color: #005dc2;;
        padding: 8px;
        float: left;
        width: 100%;
        background-color: rgba(234, 234, 234, 0.64);
        margin-top: 8px;
        font-weight: bolder;
    }

    .profile-bar ul li i {
        color: #005dc2;
        padding-left: 8px;
        font-weight: bolder;
    }

    .profile-bar ul li a:hover, .profile-bar ul li a:focus {
        color: #ffffff;
        text-decoration: none;
        background-color: #bcc732;    }

    .profile-bar ul li a:hover i, .profile-bar ul li a:focus i{
        color: #ffffff;
        text-decoration: none;
        background-color: #bcc732;   }

.log-out {
    color: #cc0757;
}

    .log-out i {
        background: linear-gradient(to right, #176083, #4568DC);        padding: 9px 15px 15px;
        color: #ffffff;
        cursor: pointer;
        border-radius: 50%;
        padding: 13px 21px 10px; !important;
        margin-top: 10px;
        margin-left: 5px;
        line-height: 30px;
    }
.dropdown-menu {
    padding: 0px 0 !important;
}
    .dropdown-menu > li > a {
        padding: 10px 20px !important;
        border-top: 1px solid #e6e6e6;
        border-bottom: none !important;
        text-align:right;
    }
        .dropdown-menu > li > a:hover {
            background: none !important;
            color: #176083 !important;
        }

.depo {
    background: linear-gradient(to right, #176083, #4568DC);    color: #fff !important;
    border-bottom: 1px solid #176083;
}
.depo:hover {
    background: #0045b0 !important;
}

.name {
    background: linear-gradient(to top, #06a8ff, #0055be);
    color: #ffffff;
    padding: 10px;
    margin-top: -10px;
    width: 100%;
    text-align: center;
    border-radius: 60px 60px 0px 0px;
}

.btn-search {
    background: linear-gradient(to right, #176083, #4568DC);    color: #fff;
    border: none;
    width: 100%;
    min-height: 34px;
}

    .btn-search:hover, .btn-search:focus {
        background-color: #0045b0;
    }

.profile-bar h1, .profile-bar h2 {
    color: #676767;
    margin: 0px;
    font-size: 19px;
    border-bottom: 1px solid rgba(224, 224, 224, 0.82);
    padding-bottom: 13px;
    margin-top: 18px;
    margin-bottom: 20px;
}

    .profile-bar h1 span, .profile-bar h2 span {
        border-bottom: 1px solid #98c64c !important;
        padding-bottom: 5px;
        color: #0164ca;
    }

.profile-bar2 h1, .profile-bar2 h2 {
    color: #22292f;
    margin: 0px;
    font-size: 19px;
    font-style: normal;
    /*border-bottom: 1px solid rgba(224, 224, 224, 0.82);*/
    margin-bottom: 10px;
    padding-bottom: 7px;
}

    .profile-bar2 h1 span, .profile-bar2 h2 span {
         padding-bottom: 0px;
    }

.profile-bar h1 a {
    margin-right: 10px;
    float:left;
}

    .profile-bar h1 a i {
        color: #ffffff;
        background-color: #bcc732;
        padding: 8px 35px;
        border-radius: 5px;
    }

.input-group {
    margin-bottom: 10px;
}

.input-group-addon {
    border-radius: 0px !important;
}

.form-group input {
    border-radius: 0px !important;
}

.facebook-in {
    text-align: center;
}

    .facebook-in span {
        background-color: #ffffff;
        padding: 5px 5px 0px;
        margin-top: -16px;
        position: absolute;
    }


.facebook {
    padding: 20px 0px 20px;
    border-bottom: 1px solid #e6e6e6;
}

    .facebook a {
        background-color: #21228E;
        color: #ffffff;
        padding: 8px 40px 5px;
        font-size: 18px;
    }


    .facebook i {
        color: #0f1067;
        background-color: #ffffff;
        padding: 5px 7px 0px;
        margin-right: 10px;
    }

    .facebook a:hover {
        background-color: #1f206b;
        color: #ffffff;
        text-decoration: none;
    }

.submit {
    background-color: #03a13c;
    color: #ffffff;
    width: 100%;
    padding: 8px 0px !important;
}

    .submit:hover {
        background-color: #0d9bae;
        color: #ffffff !important;
    }

.modal-footer p {
    font-size: 11px;
    text-align: center;
}


.facebook-in1 {
    text-align: center;
    margin-top: 10px;
}

    .facebook-in1 span {
        background-color: #ffffff;
        padding: 5px 5px 0px;
        margin-top: -16px;
        position: absolute;
    }


.facebook1 {
    padding: 20px 0px 20px;
    border-top: 1px solid #e6e6e6;
}

    .facebook1 a {
        background-color: #21228E;
        color: #ffffff;
        padding: 8px 40px 5px;
        font-size: 18px;
    }


    .facebook1 i {
        color: #0f1067;
        background-color: #ffffff;
        padding: 5px 7px 0px;
        margin-right: 10px;
    }

    .facebook1 a:hover {
        background-color: #1f206b;
        color: #ffffff;
        text-decoration: none;
    }

.remember {
    margin-top: 20px;
}

    .remember a {
        float: right;
    }

.submit-login {
    background-color: #03a13c;
    color: #ffffff;
    width: 100%;
    padding: 8px 0px !important;
}

    .submit-login:hover {
        background-color: #0d9bae;
        color: #ffffff !important;
    }


/*Start New 12/12/2017*/
.how-bg {
    background-color: #fff;
    padding: 30px;
    margin-top: 120px;
    margin-bottom: 50px;
}

.work-tab {
    float: left;
    width: 100%;
    margin-top: -85px;
    margin-bottom: 10px;
}

    .work-tab a {
        background: #f9f9f9;
        float: right;
        width: 100px;
        height: 100px;
        text-align: center;
        border: 1px solid #cc0757;
        margin: 5px;
        font-size: 18px;
        color: #cc0757;
        transform: rotate(45deg);
    }

        .work-tab a i {
            font-size: 42px;
            transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            margin: 10px 0px 0px -30px;
        }

        .work-tab a span {
            float: left;
            width: 100%;
            transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            margin: -7px 0px 0px 12px;
        }

        .work-tab a:hover, .work-tab a:focus {
            background: #f9f9f9;
            color: #0d9bae;
            border: 1px solid #0d9bae;
        }

.work-act {
    background-color: #0d9bae !important;
    color: #fff !important;
    border: 1px solid #0d9bae !important;
}

.login-logo {
    width: 100px;
    background-color: #fff;
    border-radius: 50%;
    margin: 20px 0px -70px;
}
.login-tab {
    margin: 25px 0px 10px !important;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
}
.user-bg {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px 0px 10px;
}
    .user-bg label {
        width: 100%;
    }

.login-link {
}

    .login-link a {
        float: left;
        width: 100%;
        margin: 10px 0px 10px;
        font-size: 16px;
        color: #1c383b;
    }

        .login-link a i {
            background: linear-gradient(to right, #176083, #4568DC);            color: #fff;
            padding: 20px;
            margin-left: 8px;
        }

#agreement {
    border: 1px solid #dcdcdc;
    margin: 5px 0px 15px;
    float: left;
    width: 100%;
    padding: 10px;
}






.login-bg {
    background-color: #999 !important;
    padding: 25px 30px 40px;
    float: left;
    width: 100%;
    margin-top: -32px;
    box-shadow: 1px 1px 6px 0px rgba(247, 247, 247, 0.9);
    text-align:center;
    margin-bottom:20px;
}

    .login-bg h5 {
        text-align: center;
        border-bottom: 1px solid #bfbfbf;
        padding-bottom: 8px;
        margin-bottom: 35px;
    }

        .login-bg h5 span {
            position: absolute;
            background-color: #999 !important;
            padding: 0px 15px;
            color: #fff !important;
            left: 37%;
            width: 200px;
        }

    .login-bg a {
        border: 1px solid #999;
        color: #000;
        padding: 10px 30px;
        border-radius: 6px;
    }

        .login-bg a:hover, .login-bg a:focus {
            background-color:#176083;
            color: #fff;
        }


.cont-title {
    font-size: 24px;
    margin: 0px 0px 15px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 3px;
}

    .cont-title span {
        color: #0d9bae;
    }

        .cont-title span:last-child {
            color: #cc0757;
        }

.tea-cont-r, .tea-cont {
    border: 1px solid #e0e0e0;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

    .tea-cont-r p, .tea-cont p {
        text-align: justify;
    }

.tea-cont {
    padding: 15px 15px 15px 55px;
}

    .tea-cont .list, .tea-cont-r .list {
        color: #fff;
        padding: 13px;
        font-size: 24px;
        position: absolute;
        width: 60px;
        height: 60px;
        text-align: center;
        border-radius: 50%;
    }

    .tea-cont .list {
        background: #cc0757;
        margin: 0px 0px 0px -85px;
    }

    .tea-cont h2 {
        font-size: 20px;
        font-weight: 600;
    }

.tea-cont-r {
    padding: 15px 55px 15px 15px;
}

    .tea-cont-r .list {
        background: #0d9bae;
        margin: 0px -70px 0px 0px;
        right: 0;
    }

    .tea-cont-r h2 {
        font-size: 20px;
        font-weight: 600;
    }


.check-box {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #dcdcdc;
    padding: 8px 30px 6px 10px;
    float: right;
    margin-left: 10px;
}

    .check-box input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        width: auto;
    }

.checkmark {
    position: absolute;
    top: 6px;
    right: 6px;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

.check-box:hover input ~ .checkmark {
    background-color: #ccc;
}

.check-box input:checked ~ .checkmark {
    background: linear-gradient(to right, #176083, #4568DC);

}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.check-box input:checked ~ .checkmark:after {
    display: block;
}

.check-box .checkmark:after {
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}





/*End 12/12/2017*/



@media (min-width: 768px) {

    .login {
        width: 385px !important;
    }

    .call {
        width: 550px !important;
    }

    .mess {
        width: 700px !important;
    }
}


tr td {
    padding: 4px 20px 3px;
}







.title {
    border-right: 1px solid #e6e6e6;
    width: 140px;
}

    .title i {
        padding-right: 5px;
        width: 20px;
    }

.title1 i {
    padding-right: 5px;
    color: #8ea10b;
}

.verify {
    padding-top: 20px;
}

    .verify i {
        background-color: #c1bfbf;
        width: 35px;
        height: 35px;
        font-size: 18px;
        padding: 8px;
        color: #636262;
        cursor: pointer;
        margin-bottom: 5px;
    }

.verified {
    background-color: #98c64c !important;
    color: #ffffff !important;
}

.review-bg {
    margin: 30px 0px 20px;
}

.review {
    font-size: 18px;
}

    .review a {
        background-color: #0d9bae;
        float: left;
        width: 100%;
        color: #ffffff;
        padding: 5px 10px;
        text-align: center;
    }

        .review a i {
            padding-right: 5px;
        }

        .review a:hover {
            background-color: #98c64c;
            color: #ffffff;
            text-decoration: none;
        }

        .review a:focus {
            background-color: #98c64c;
            color: #ffffff;
            text-decoration: none;
        }

.panel-default {
    border-radius: 0px !important;
}

.head h1 {
}

.head h4 a {
}

    .head h4 a:hover {
        text-decoration: none;
    }

    .head h4 a:focus {
        text-decoration: none;
    }

.panel-group h1 {
    font-size: 14px;
    font-weight: bold;
    color: #7c7c7c;
    margin-bottom: 5px;
}

.panel-group p {
    font-size: 14px;
    margin-bottom: 30px;
}

.reviw-cont {
    border: 1px solid #e6e6e6;
    padding: 10px;
    color: #808080;
    margin-bottom: 10px;
}


    .reviw-cont i {
        color: #f6c404;
    }

    .reviw-cont td {
        padding: 0px 15px 0px 0px;
    }

.panel-body img {
    margin-bottom: 20px;
}

.inf {
}

    .inf ul li {
        background-color: #e6e6e6;
        padding: 8px 10px;
        margin-bottom: 5px;
    }

    .inf i {
        background-color: #e6e6e6;
        padding: 8px 10px;
        margin-bottom: 5px;
    }

.header {
    background-color: #03a13c;
    color: #ffffff;
    padding: 10px 15px 8px !important;
}

.form-control {
    border-radius: 0px !important
}

.txt {
    height: 40px !important;
}

.drop {
    border-radius: 0px !important;
    height: 45px !important;
}

.call p {
    padding: 0px 0px 10px;
    text-align: center;
    color: #7c7c7c
}

.nexr-btn {
    background: linear-gradient(to right, #176083, #4568DC);    padding: 6px 30px;
    color: #ffffff;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    cursor:pointer;
}

    .nexr-btn:hover, .nexr-btn:focus {
        background-color: #0048b7;
        text-decoration: none;
        color: #ffffff;
        outline:0;
    }

.nexr-btn1 {
    border: 1px solid #d41c1c !important;
    background-color: transparent;
    padding: 5px 30px;
    color: #d41c1c;
    border: none;
    font-size: 16px;
    transition: all .6s;
    margin-bottom: 20px;
    text-transform: uppercase;
}

    .nexr-btn1:hover, .nexr-btn1:focus {
        outline: 0;
        background-color: #d41c1c;
        color:#fff;
    }

.post-bg {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0px 0px 1px 0px #c5c5c5;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

    .post-bg span {
        float: left;
        width: 100%;
        border-bottom: 1px solid #d4d4d4;
        padding-bottom: 5px;
    }

    .post-bg a {
        border: 1px solid #98c64c;
        color: #fff;
        float: right;
        width: 50%;
        margin-top: 10px;
        padding: 10px;
        text-align: center;
        font-size: 16px;
        color: #98c64c;
    }

        .post-bg a:hover, .post-bg a:focus {
            background-color: #98c64c;
            border: 1px solid #98c64c;
            color: #fff;
        }
.nav-tabs > li {
    float: right;
}
.ad-bg {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0px 0px 1px 0px #c5c5c5;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

    .ad-bg span {
        float: left;
        width: 100%;
        border-bottom: 1px solid #d4d4d4;
        padding-bottom: 5px;
    }

    .ad-bg a {
        border: 1px solid #98c64c;
        color: #fff;
        float: right;
        width: 25%;
        margin-top: 10px;
        padding: 10px;
        text-align: center;
        font-size: 16px;
        color: #98c64c;
    }

        .ad-bg a:hover, .ad-bg a:focus {
            background-color: #98c64c;
            border: 1px solid #98c64c;
            color: #fff;
        }

.tab-bg {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0px 0px 1px 0px #c5c5c5;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

    .tab-bg span {
        float: left;
        width: 100%;
        border-bottom: 1px solid #d4d4d4;
        padding-bottom: 5px;
        margin-bottom:10px;
    }

    .tab-bg .nav-tabs > li.active > a {
        color: #fff;
        background-color: #98c64c;
        border: 1px solid #98c64c;
    }

    .tab-bg .nav-tabs > li > a {
        border: 1px solid #98c64c;
        color: #98c64c;
    }

        .tab-bg .nav-tabs > li > a:hover {
            color: #fff;
            background-color: #98c64c;
        }



    .image span {
        float: unset;
        width: unset;
        border-bottom:unset;
        padding-bottom: unset;
        margin-bottom: unset;
    }

.project img{

    height:200px;
    margin-bottom:20px;
}


.project iframe {
    width:100% !important;
    margin-bottom: 20px;
}








.reg-head {
    background-color: #ffffff;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

    .reg-head h2 {
        margin: 0px;
        box-shadow: 0px 0px 1px 1px #e6e6e6;
        float: left;
        width: 100%;
        padding: 10px 15px;
        color: #7c7c7c;
        font-size: 26px;
    }

        .reg-head h2 i {
            background-color: #e6e6e6;
            color: #0d9bae;
            width: 40px;
            height: 40px;
            float: left;
            padding: 8px 0px;
            border-radius: 50%;
            font-size: 24px;
            text-align: center;
        }

        .reg-head h2 span {
            padding: 13px 10px 5px;
            float: left;
            font-size: 18px;
        }

.regi-act {
    background-color: #0d9bae;
    color: #ffffff !important;
}

    .regi-act i {
        color: #0d9bae !important;
    }

.regi-head {
    margin-top: 25px;
}

.profile-bar h1 span i, .profile-bar h2 span i {
    font-size: 20px;
    padding-right: 5px;
    color: #0164ca;
}

.edit-input {
}

    .edit-input input, .edit-input select,.edit-input input, .edit-input textarea {
        border: 1px solid #ccc;
        padding: 5px;
        border-radius: 14px;
        box-shadow: inset 1px 2px 4px 0px rgba(0,0,0,.25);
    }

        .edit-input input:hover, .edit-input select:hover,
        .edit-input input:focus, .edit-input select:focus {
            border: 1px dotted #0045b0;
            outline:0;
        }



.old_image{
    max-height: 200px;
    max-width: 200px;
}

.hire-tutor {
    padding: 10px;e
}

    .hire-tutor input {
        width: 100%;
        text-align: center;
        font-size: 18px;
        padding: 10px;
        border: 1px solid #e6e6e6;
        margin: 15px 0px 0px;
        color: #bfbfbf;
        font-weight: normal;
    }

    .hire-tutor small {
        font-size: 12px;
    }

.proposal1 button, .proposal1 a {
    background-color: #cc0757;
    border: none;
    color: #fff;
    padding: 8px 15px;
}


.proposal1 a {
    padding: 10px 15px;
    background-color: #0d9bae;
}

    .proposal1 a:hover, .proposal1 a:focus {
        color: #fff;
    }

.proposal1 .teacher-head {
    border: 1px solid #e6e6e6;
}

.proposal {
    font-size: 24px;
    color: #d80258;
    text-align: center;
    box-shadow: 0px 0px 0px 1px #f1f1f1;
    padding: 15px 15px 35px;
}

    .proposal span {
        position: absolute;
        margin-top: 18px;
        color: #949696;
        font-size: 18px;
        background: #fff;
        padding: 3px 15px;
        margin-left: -30px;
    }

.proposal1 {
    font-size: 24px;
    text-align: center;
    box-shadow: 0px 0px 0px 1px #f1f1f1;
    padding: 35px 15px 0px;
}

    .proposal1 p {
        color: #03a13c;
    }

    .proposal1 .block {
        margin-top: 10px;
        min-height: 380px;
    }

.fileinput-remove, .fileinput-upload, .kv-file-upload {
    display: none !important;
}

.nonact {
    color: #949494 !important;
}


.copy-right {
    background-color: #fff;
    color: #1c383b;
    font-size: 12px;
    padding: 20px 0px 15px;
    margin-top: 10px;
    box-shadow: 0px 0px 1px 1px #e0e0e0;
}

.looking-bg, .question-bg {
    border: 1px solid #e6e6e6;
    padding: 0px 30px 50px;
    text-align: center;
    margin: 30px 0px;
}

    .looking-bg span, .question-bg span {
        background-color: #ffffff;
        font-size: 19px;
        padding: 10px 25px;
        border: 1px solid #e6e6e6;
        float: left;
        width: 100%;
        margin: -25px 0px 45px;
    }

    .looking-bg a {
        background-color: #98c64c;
        color: #ffffff;
        padding: 18px 20px;
        transition: .6s all;
        -webkit-transition: .6s all;
        -o-transition: .6s all;
        -moz-transition: .6s all;
        font-size: 18px;
    }

        .looking-bg a:hover, .looking-bg a:focus {
            background-color: #0d9bae;
            color: #ffffff;
            text-decoration: none;
        }


    .question-bg a {
        background-color: #0d9bae;
        color: #ffffff;
        padding: 18px 25px;
        transition: .6s all;
        -webkit-transition: .6s all;
        -o-transition: .6s all;
        -moz-transition: .6s all;
        font-size: 18px;
    }

        .question-bg a:hover, .question-bg a:focus {
            background-color: #98c64c;
            color: #ffffff;
            text-decoration: none;
        }

.pad-bor {
    border: 1px solid #dedede;
    padding: 15px;
    margin: 8px 0px 18px;
}

.in-edit {
    border: 1px dotted #03a13c;
    background-color: transparent;
    padding: 0px 5px;
}

    .in-edit:hover, .in-edit:focus {
        border: 1px dotted #176083;
        outline:0;
    }

.noti-bg {
    background-color: #fff;
    float: left;
    width: 100%;
    padding: 8px 15px;
    border-bottom: 3px solid #f7f7f7;
    color:#1c383b;
}

.market-pro-list {
    background-color: #fff;
    padding: 15px;
    margin-bottom:20px;
    float:left;
    width:100%;
}

    .market-pro-list img {
        height: 230px;
    }

    .market-pro-list h2 {
        font-size: 16px;
        color: #565656;
        padding: 10px 0px 8px;
        border-bottom: 1px solid #dedede;
        margin-bottom: 10px;
    	min-height: 60px;
    }

.delete {
    position: absolute;
    right: 15px;
    background-color: red;
    color: #fff;
    width: 30px;
    height: 30px;
    text-align: right;
    padding-right: 6px;
    padding-top: 2px;
    border-radius: 0px 0px 0px 30px;
    margin: -15px 0px 0px 0px;
}

    .delete:hover {
        color: #fff;
        background: linear-gradient(to right, #176083, #4568DC);    }

    .market-pro-list .pro-like a {
        background: linear-gradient(to right, #176083, #4568DC);        padding: 10px;
        display: block;
        text-align: center;
        color: #fff;
        border: 1px solid #176083;
    }

        .market-pro-list .pro-like a:hover,
        .market-pro-list .pro-like a:focus {
            background-color: #fff;
            color: #176083;
            border: 1px solid #176083;
        }

    .market-pro-list .pro-like1 a {
        background: linear-gradient(to right, #176083, #4568DC);        padding: 10px;
        text-align: center;
        color: #fff;
        border: 1px solid #176083;
        float: left;
        margin-right: 5px;
    }

        .market-pro-list .pro-like1 a:hover,
        .market-pro-list .pro-like1 a:focus {
            background-color: #fff;
            color: #176083;
            border: 1px solid #176083;
        }

.card-img {
}
    .card-img img {
        height: 170px;
        border-radius: 13px 13px 0px 0px;
    }
    .card-img a {
        float: left;
        width: 50%;
        padding: 8px 5px;
        background: linear-gradient(to right, #176083, #4568DC);        color: #fff;
        margin-bottom: 20px;
        border-radius: 0px 0px 0px 6px;
        text-align:center;
    }
    .card-img a:last-child {
        background-color: #03a13c;
        border-radius: 0px 0px 6px 0px;
    }


.certi img {
    border: 1px solid #e6e6e6;
    padding: 10px;
}


.portfolio-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 15px 0px 0px;
}

    .portfolio-container .portfolio-image img {
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
        width: 100%;
    }

    .portfolio-container .portfolio-image .portfolio-overlayer {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(13, 155, 174, 0.83);
        z-index: 10;
        opacity: 0;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;
    }

    .portfolio-container .portfolio-info {
        position: absolute;
        top: 45%;
        padding: 0px 10px;
        left: 0;
        z-index: 20;
        width: 100%;
        text-align: center;
        color: #fff;
        margin-top: -46px;
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
    }

        .portfolio-container .portfolio-info .portfolio-info-container {
            display: block;
            width: 100%;
            margin-top: -25%;
            position: relative;
        }

        .portfolio-container .portfolio-info .portfolio-title {
            font-size: 20px;
            line-height: 25px;
            font-weight: 600;
            opacity: 0;
            -webkit-transform: translateY(30px);
            -ms-transform: translateY(30px);
            transform: translateY(30px);
            -webkit-transition: opacity 0.3s, -webkit-transform 0.3s linear;
            transition: opacity 0.3s, transform 0.3s linear;
        }

        .portfolio-container .portfolio-info .portfolio-cat {
            font-size: 14px;
            line-height: 21px;
            opacity: 0;
            margin-bottom: 25px;
            -webkit-transform: translateY(-30px);
            -ms-transform: translateY(-30px);
            transform: translateY(-30px);
            -webkit-transition: opacity 0.3s, -webkit-transform 0.3s linear;
            transition: opacity 0.3s, transform 0.3s linear;
        }

        .portfolio-container .portfolio-info .ct-btn {
            opacity: 0;
            -webkit-transform: translateX(100px);
            -ms-transform: translateX(100px);
            transform: translateX(100px);
            -webkit-transition: opacity 0.3s, background 0.3s, color 0.3s, -webkit-transform 0.3s linear, border-color 0.3s;
            transition: opacity 0.3s, background 0.3s, color 0.3s, transform 0.3s linear, border-color 0.3s;
        }

            .portfolio-container .portfolio-info .ct-btn.link {
                -webkit-transform: translateX(-100px);
                -ms-transform: translateX(-100px);
                transform: translateX(-100px);
                padding: 8px 20px;
                /*background-color:#0094ff;*/
                color: #fff !important;
                font-weight: bold;
                text-decoration: none;
                text-transform: uppercase;
                border: 2px solid #ffffff;
            }

.ct-btn.link {
    margin: 30px;
}

.portfolio-container .portfolio-info .ct-btn.link:hover {
    border: 2px solid #a2ce09;
    color: #a2ce09 !important;
}

.portfolio-container:hover {
    cursor: pointer;
}

    .portfolio-container:hover .portfolio-image .portfolio-overlayer {
        opacity: 0.7;
    }

    .portfolio-container:hover .portfolio-info .portfolio-title {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    .portfolio-container:hover .portfolio-info .portfolio-cat {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    .portfolio-container:hover .portfolio-info .ct-btn {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }


.team-head {
    margin: 20px 0px 0px;
}

    .team-head h1 {
        font-size: 22px;
        margin-bottom: 10px !important;
    }

.mentor {
    padding: 0px 60px !important;
}

.wel-bg {
    box-shadow: 0px 0px 1px 1px #ececec;
    padding: 10px 0px 40px;
    background-color: #fff;
    margin: 50px 0px 0px;
    text-align: center;
}

.wel-bg1 {
    box-shadow: 0px 0px 1px 1px #ececec;
    background-color: #fff;
    margin: 50px 0px 0px;
    text-align: center;
    padding: 15px;
}

.wel-bg2 {
    background-color: #0097fe !important;
    text-align: center;
    padding: 50px 20px;
}

    .wel-bg2 img {
        width: auto;
    }

    .wel-bg2 h2 {
        color: #fff;
        font-size: 52px;
    }

    .wel-bg2 p {
        color: #fff;
        font-size: 18px;
        margin-bottom: 40px;
    }

    .wel-bg2 a {
        color: #fff;
        padding: 8px 20px;
        border: 1px solid #fff;
    }

        .wel-bg2 a:hover, .wel-bg2 a:focus {
            background-color: #fff;
            color: #0d9bae;
        }

.email-bg {
    box-shadow: 0px 0px 1px 1px #ececec;
    padding: 40px 20px;
    background-color: #fff;
    margin: 70px 0px 0px;
    text-align: center;
}

    .email-bg h4 {
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 25px;
    }

    .email-bg span {
        position: absolute;
        margin: -27px 0px 0px -27px;
        background-color: #fff;
        padding: 0px 15px;
        font-size: 22px;
    }

    .email-bg h5 {
        margin-top: 30px;
        font-weight: bold;
    }

    .email-bg img {
        width: auto;
    }

.modal-w {
    width: 620px !important;
}

.selBtn .btn-group {
    width: 100%;
}

.selBtn button {
    width: 100%;
    border-radius: 0px;
    min-height: 45px;
}

.lp {
    padding-left: 0px !important;
}

.rp {
    padding-right: 0px !important;
}

.mob-nav {
    display: none !important;
}

.wallet {
    display: none !important;
}

.mobile-nav{
    display:none;
}

.sidenav {
    display:none;
}
.of {
    display: block;
    margin-bottom: 10px;
    color: #45cc4a;
    font-size: 14px;
}

.re {
    display: block;
    margin-bottom: 10px;
    color: #fe0000;
    font-size: 14px;
}




@media (max-width:991px){
    .ad-bg a {
        width: 50%;
    }
    .desktop-nav{
        display:none;
    }
    .logo {
        border-right: unset;
    }
    .acc-back .container {
        padding-right: 0px !important;
        padding-left:0px !important;
    }
    .mobile-nav {
        display: block;
    }
        .mobile-nav a {

            border-left: 1px solid #efefef;
            padding: 10px 15px;
            float: left;
            line-height: 16px;
            text-align: center;
        }

        .mobile-nav .dropdown-menu > li > a {
            border-right: unset;
            float: unset;
            padding: 10px 15px !important;
            text-align: right;
        }
    .modal {
        z-index: 9999;
    }

    .sidenav {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.5s;
        border-right: 1px solid #e8e8e8;
        overflow-y: hidden;
    }

        .sidenav h2 {
            background-color: #545454;
            font-size: 16px;
            padding: 15px 15px;
            color: #fff;
            margin:0px;
        }


        .sidenav .closebtn {
            position: absolute;
            top: 0;
            left: 4px;
            font-size: 36px;
            color: #bfbfbf;
            border-right: 1px solid #777;
            padding: 4px 10px;
        }


        .sidenav .closebtn:hover {
            color:#cc0757;
            text-decoration:none;
        }

    .mob-pro {
        position: absolute;
        width: 100%;
        height: 93%;
        overflow-y: auto;
        padding-top: 30px;
        overflow-y: auto;
    }

        .mob-pro .mob-edit {
            position: absolute;
            right: 5px;
            background-color: rgb(0, 193, 70);
            color: #fff;
            padding: 6px;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            text-align: center;
            z-index: 9;
            margin-top: -20px;
        }

        .mob-pro ul li a {
            float: left;
            width: 100%;
            padding: 10px;
            color: white;
            /*background-color: #545454;*/
            background: linear-gradient(to right, #176083, #4568DC);            margin-top: 3px;
        }

            .mob-pro ul li a i {
                margin-left: 8px;
                font-size: 16px;
            }

    .market-pro-list img {
        height: auto;
    }
}


@media (max-width:767px) {
    .mob-none{
        display:none;
    }
    .mar-bot {
        margin-bottom: 70px !important;
    }
    .offer-bg{
        display:none !important;
    }
    .edit {
        margin-top: -15px;
    }
    .acc-back {
        position: fixed;
        width: 100%;
        z-index: 9999;
    }

    .profile-bg {
        margin-top: 40px;
    }

    .offer {
        display: none !important;
    }

    .copy-right {
        display:none;
    }

        .copy-right div {
            display: none;
        }

    .me {
        line-height: 16px;
        float: left !important;
        padding: 6px 12px !important;
        width: 20%;
    }

        .me small {
            font-size: 10px;
        }

    .wallet {
        display: block !important;
        background: #fff;
        float: right;
        padding: 8px 12px 5px;
        line-height: 16px;
        color: #0d9bae;
        text-align: center;
        width: 35%;
    }

        .wallet small {
            font-size: 10px;
        }

    .wa {
        width: 29% !important;
        margin-right: -15px;
        border-left: 1px solid #f5f5f5;
    }

    .wallet:hover, .wallet:focus {
        color: #0d9bae;
    }

    .mob-nav {
        display: block !important;
        background-color: #545454;
        position: fixed;
        z-index: 99;
        width: 100%;
        bottom: 0;
        text-align: center;
        box-shadow: 0px 0px 1px 0px #b7b7b7;
        left:0;
    }

        .mob-nav a {
            color: #fff;
            line-height: 15px;
            float: left;
            width: 100%;
            padding: 8px 0px;
            border-left: 1px solid #3e3e3e;
        }

            .mob-nav a:hover, .mob-nav a:focus {
                color: #fff;
                background-color: #0c97be;
            }

            .mob-nav a small {
                float: left;
                width: 100%;
            }

    .rb {
        border-left: unset !important;
    }

    .mob-act {
        color: #fff !important;
        background: linear-gradient(to right, #176083, #4568DC);
    .work-tab a {
        width: 70px;
        height: 70px;
        font-size: 12px;
    }

        .work-tab a i {
            font-size: 24px;
            margin: 10px 0px 0px -22px;
        }

        .work-tab a span {
            margin: -7px 0px 0px 5px;
        }

    .blog-con-bg {
        padding: 20px 15px 15px;
    }

    .blog-con .btitle {
        padding-left: 5px;
    }

        .blog-con .btitle img {
            left: unset;
            margin-top: unset;
            top: -20px;
        }

    .tea-cont .list, .tea-cont-r .list {
        padding: 9px;
        font-size: 14px;
        font-weight: bold;
        width: 40px;
        height: 40px;
    }

    .tea-cont {
        padding: 15px;
    }

    .tea-cont-r, .tea-cont {
        margin-left: 0px;
        margin-right: 0px;
    }

        .tea-cont .list {
            margin: -35px 0px 0px -35px;
        }

    .tea-cont-r {
        padding: 15px;
    }

        .tea-cont-r .list {
            margin: -20px -20px 0px 0px;
        }

    .cont-title {
        margin: 15px 0px 15px;
    }

    .social {
        font-size: 16px;
    }

    .signup {
        width: 100%;
    }

    .cont-title {
        font-size: 20px;
    }

    .profile-bar {
        margin: 30px 0px 20px;
        padding: 15px !important;
    }

    .question-bg a {
        padding: 18px 30px;
    }

    .looking-bg, .question-bg {
        padding: 70px 15px 50px;
    }

        .looking-bg span, .question-bg span {
            width: 100%;
            float: left;
            margin: -95px 0px 30px 0px;
            position: inherit;
        }

    .nexr-btn1 {
        float: left;
        width: 100%;
    }

    .nexr-btn {
        float: left;
        width: 100%;
        margin-bottom: 15px;
    }

    .about {
        background-image: none;
    }

    .social a {
        padding-bottom: 10px;
        float: left;
    }

    .power {
        text-align: left;
    }

    .btn-a, .btn-a1 {
        margin: 10px 0px 20px;
    }

    .mobilebtn {
        display: block !important;
    }

    .mobileshow {
        display: none;
    }

    .navbar-nav > li a {
        padding-left: 30px !important;
        border-top: 1px solid #176083;

    }

    .slogan {
        display: none;
    }

    .search {
        margin-top: 15px;
    }

    .sign {
        padding: 10px 20px 30px;
        margin-bottom: 10px;
    }

    .mob-sign {
        padding: 15px 15px 1px !important;
        min-height: 130px;
    }

    .mob-up {
        margin: 20px 0px;
        padding: 25px 15px 30px !important;
    }

        .mob-up img {
            float: none !important;
        }

    .wel-bg2 a {
        width: 100%;
        float: left;
        margin-bottom: 15px;
    }

    .heading {
        font-size: 20px;
        margin-top: 65px;
    }

        .heading span {
            background-image: none;
        }

    label {
        font-size: 12px;
    }

    .sign1 {
        padding: 25px 10px 15px;
    }

    .bg {
        padding: 15px;
    }
    .project img {
        height: auto;
    }
}

@media (max-width:1300px) {

    .header-back {
        background-size: auto;
    }
}

@media (min-width:768px) and (max-width:1200px) {
    .about {
        background-size: auto;
    }
}



@media (min-width:768px) and (max-width:991px) {

    .social {
        font-size: 12px;
    }

    .btn-a, .btn-a1 {
        margin-top: 23px;
    }
}

@media (max-width:767px){
    .login-bg a {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
.login-bg h5 span {
    left: 33%;
	width: auto;
}




}































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































/*Powered by amssoftech*/




























































































































































































































































































































































































































